$outerShadow: 3px 3px 3px #222327, -3px -3px 3px #363636;
$outerShadow0: 0px 0px 0px #222327, 0px 0px 0px #363636;
$innerShadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #363636;
$innerShadow0: inset 0 0 0 #222327, inset 0 0 0 #363636;

// $outerShadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
// $outerShadow0: 0px 0px 0px #d0d0d0, 0px 0px 0px #f8f8f8;
// $innerShadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
// $innerShadow0: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;

$bgBlack900: #ffffff;
$bgBlack100: #353535;
$bgBlack50: #2b2c2f;
$bgBlackOpacity: rgba(43, 44, 47, 0.5);
$textBlack900: #ffffff;
$textBlack700: #ffffff;
$textBlack600: #bbbbbb;

$skinBlue: #2eb1ed;
